@tailwind base;
@tailwind components;
@tailwind utilities;

$gutter: 1rem; //for primeflex grid system

@import 'primevue/resources/primevue.min.css';
@import 'primeicons/primeicons.css';
/* @import 'primevue/resources/themes/viva-light/theme.css'; */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Mulish", sans-serif;
}

